/* FONT 
-------------------- */
* {
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: subpixel-antialiased;
    -webkit-text-size-adjust:none;
}
h1, h2, h3, h4, h4, h5, h6 {
    margin:0px;
    font-weight: 300;// temp @headings-font-weight;
}
h1 {
    font-size:5em;
}
h2 {
    font-size:4.2em;
}
h3 {
    font-size:3.6em;
}
h4 {
    font-size:3em;
}
h5 {
    font-size:2.4em;
}
h6 {
    font-size:2em;
}
p {
    font-size: 1.6em;
    line-height: 150%;
    // font-weight: 300;
}
a {
    cursor: pointer;
}
strong {
    font-weight: 500;
}

/* HEADER
-------------------- */
.showswitch a span.en {
    margin-bottom: 2px;
    
}
.showswitch:hover a span.en {
    color: #fff;
}
.showswitch a span.cn {
    font-weight: 400;
    color: #777;
}